<section class="ui-view">
	<h1>WordPress Angular Tutorial Demo</h1>
	<p class="lead">This plugin is powered by a WordPress plugin providing custom API's and routes.</p>

	<hr class="mt-4">

	<h2 class="h4 mt-4">More Information</h2>
	<ul class="mt-3">
		<li><a ui-sref="weather">Local Weather Forecast API Example</a></li>
		<li><a href="https://github.com/Kevinlearynet/wordpress-angular-plugin">GitHub Source Code</a></li>
		<li><a href="https://www.kevinleary.net/blog/">Blog Post Tutorial</a></li>
		<li><a href="https://www.kevinleary.net/about/">About the Author</a></li>
	</ul>

	<h2 class="h4 mt-4">Uses</h2>
	<ul class="mt-3">
		<li>WordPress</li>
		<li>Angular.js v1</li>
		<li>UI Router</li>
		<li>Gulp</li>
		<li>Geolocation API</li>
		<li>National Weather Service API</li>
	</ul>
</section>